{% set statusfarben = {'0': 'yellow','1':'orange','2':'green'} %}
<table>
    {%  if termine|length > 0   %}
            {% for termin in termine %}
                <tr><td style="padding-right:20px;">{{ termin.datumVon }} </td><td style="padding-right:20px;">{{ termin.zeit }} </td><td style="padding-right:20px;">{{ termin.titel }}</td><td>{{ termin.rubrik|join(', ') }}</td><td style="padding-right:20px;">{{ termin.lokal }}, {{ termin.ort }}</td><td><i class="fa fa-square" style="{{ termin.optionsRadio is not null ? 'color: ' ~ statusfarben[termin.optionsRadio] : 'display:none' }}"> </i></td></tr>
            {% endfor %}
        {% else %}
                <tr><td style="padding-right:20px;">Keine Termine gefunden</td></tr>
        {% endif %}
</table>
