{% extends 'News/base_pdf.html.twig' %}
{% block dfx_news_detail %}
<style>
  .pdf-document{
  	font-size: 11pt;
  	color: #333;
    font-family: DejaVu Sans, sans-serif;
  }
  a{
  	color: #999;
    text-decoration: none;
  }
  .pdf-terminid{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 12mm;
   }
  
  .pdf-subtitel, .pdf-datumszeile, .pdf-locationzeile, .pdf-lead {
  	font-weight: bold;
  	line-height: 1.75;
  }
  
  .blockende{
  	margin-bottom: 12pt;
  }
  .pdf-beschreibung, .pdf-lead, .pdf-bu{
    text-align: justify;
    line-height: 1.75;
  }
  
  .grau{
  	color: #85909A;
  }

</style>
<div class="pdf-document">
    <h1 class="pdf-titel" style="margin-top:8mm">{{ artikel.titel|raw }}</h1>
	{% if artikel.subtitel != NULL %}
		<h3 class="pdf-subtitel blockende"> {{ artikel.subtitel }}</h3>
	{% endif %}
	<div class="pdf-datumszeile">{% if strDate !='' %}<span class="pdf-datum">{{ strDate }}</span>{% endif %}</div>
	{% if strKurztext != NULL %}<div class="pdf-lead blockende">{{ strKurztext|raw }}</div> {% endif %}
    {% if strText != NULL %}<div class="pdf-beschreibung blockende">{{ strText|raw }}<br></div> {% endif %}
    {% if infolink != NULL %}<div class="pdf-infolink blockende"> {{ infolink|raw }}</div><br>{% endif %}
	{{ strImg|raw }}
</div>
{% endblock %}
