{% extends 'Admin/' ~ backend ~ 'base_admin.html.twig' %}
{% block title 'Regionen' %}
{% block pageheader 'Regionen' %}
{% block subheader 'Listenansicht' %}

{% block footer %}
    
	
	
	

{% endblock footer %}

{% block body -%}
<a href="{{ path('region_new') }}">Region hinzufügen</a><br />   
<table class="table table-striped">
       <thead>
            <tr>
                <th>ID</th>
            	<th>Bezeichnung</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for entity in pagination %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.region }}</td>
                                 
				<td><a href="{{ path('region_edit', { 'id': entity.id }) }}"><i class="fa-solid fa-pen-to-square"> </i></a></td>
                <td><a class="delete" title="Datensatz {{ entity.region }} löschen" href="{{ path('region_delete', { 'id': entity.id }) }}"><i class="fa-solid fa-trash-can"> </i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    	{{ knp_pagination_render(pagination) }}
	</div>
    <a href="{{ path('region_new') }}">Region hinzufügen</a>
{% endblock %}  

