{% extends 'Admin/' ~ backend ~ 'base_admin.html.twig' %}
{% block title 'Regionen' %}
{% block pageheader 'Region eingeben' %}

{% block footer %}
    
	
	
	

{% endblock footer %}
{% block body -%}
    {{ form_start(form) }}
    <div class="row">
    <div class="col-sm-12 col-md-9">
	    {{ form_row(form.region) }}
	    </div>
    </div>
    
    <div class="row">
		  <div class="col-6">
		  {{ form_row(form.submit) }}
		  </div>
		  <div class="col-6">
		  {{ form_row(form.reset) }}
		  </div>
		
	</div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    <div><br /><a href="{{ path('admin_region') }}">Zurück zur Liste ohne zu speichern</a></div>
{% endblock %}

