{% extends 'Admin/base_pdf.html.twig' %}
{% if termin.datum == termin.datumVon %}
	{% set strDate =  termin.datumVon|date('d.m.Y') %}
{% else %}	
	{% set strDate = termin.datumVon|date('m.d.Y') ~ ' bis '|trans ~ termin.datum|date('m.d.Y') %}
{% endif %}	
{% set strTime = termin.zeit != NULL ? "#{ termin.zeit|date('H:i') } Uhr" : "" %}

{% block title 'Reservierungen' %}
{% block pageheader 'Reservierungen' %}
{% block subheader "#{ termin.titel|raw ~', ' ~  strDate ~ ' ' ~ strTime }" %}

{% block body -%}
     <table cellspacing="0">
        <thead>
            <tr>
            	<th style="width:40mm">Name, Vorname</th>
            	<th style="width:35mm">Adresse</th>
                <th style="width:35mm">Tel/E-Mail</th>
                <th style="width:8mm;text-align:right">Plätze</th>
                <th style="width:50mm">Notiz</th>
            </tr>
        </thead>
        <tbody>
		{% for reservierung in reservierungen %}
			 <tr>
                <td>{{ reservierung.nachname }}, {{ reservierung.vorname }}<br>{{ reservierung.datum|date("d.m.Y") }}</td>
                <td>{{ reservierung.strasse  }}<br>{{ reservierung.plz  }} {{ reservierung.ort  }}</td>
                <td>{{ reservierung.tel  }}<br>{{ reservierung.mobil  }}<br>{{ reservierung.email  }}</td>
                <td style="text-align:right">{{ reservierung.anzahl  }}</td>
                <td>{{ reservierung.notiz|nl2br }}</td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}  
