  <div class="day-headers" role="row">
    <div class="rc-header" role="columnheader" aria-label="Montag">Mo</div>
    <div class="rc-header" role="columnheader" aria-label="Dienstag">Di</div>
    <div class="rc-header" role="columnheader" aria-label="Mittwoch">Mi</div>
    <div class="rc-header" role="columnheader" aria-label="Donnerstag">Do</div>
    <div class="rc-header" role="columnheader" aria-label="Freitag">Fr</div>
    <div class="rc-header" role="columnheader" aria-label="Samstag">Sa</div>
    <div class="rc-header" role="columnheader" aria-label="Sonntag">So</div>
  </div>
  <div class="days" data-group="days" role="grid" aria-label="Kalender">
    {% for day in calendar.days %}
      <div class="{{ day.class }}" style="{{ day.style }}" role="presentation">
        {% if day.href %}
          <a data-day="{{ day.day }}" data-month="{{ day.month }}" data-year="{{ day.year }}" href="{{ day.href }}" role="gridcell" aria-label="{{ day.aria }}">{{ day.day }}</a>
        {% else %}
          {% if day.isCurrent %}
            <span data-day="{{ day.day }}" data-month="{{ day.month }}" data-year="{{ day.year }}" role="gridcell" aria-current="date">{{ day.day }}</span>
          {% else %}
            <span data-day="{{ day.day }}" data-month="{{ day.month }}" data-year="{{ day.year }}" role="gridcell" aria-disabled="true" data-disabled="true">{{ day.day }}</span>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
