<div class="back-to-list"><a href="{{ konf.frontendUrl }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur liste'|trans}}</a></div>
<h2>{{ 'An Termin erinnern lassen'|trans }}</h2>
<h3>{{ termin.titel }}, {{ termin.datumVon|date('d.m.Y') }} {{ termin.zeit|date('H:i')  }}</h3>
{% if error is defined %}
 <p class="bg-danger">{{ error }}</p>
{% endif %}
{{ form_start(form) }}
     <div class="row">
    	<div class="col-sm-12 col-md-6">
    		{{ form_row(form.datum) }}
    	</div>
    	<div class="col-sm-4 col-md-6">
    	 	{{ form_row(form.email) }}
    	</div>
   </div>
   <div id="cCode" class="row">
    	<div class="col-sm-12 col-md-4">
    	   <label class="required" for="form_code" style="display:inline-flex; align-items:center; margin-bottom:0.25rem;">
    		   {{ 'sicherheitscode'|trans }}
    		   <span id="cCodeHint" style="position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden;">Bitte die vier Ziffern aus den Bildern in das Feld eingeben.</span>
    		   <span class="input-group-addon" role="img" aria-label="Sicherheitscode" style="display:inline-flex; align-items:center; gap:4px; padding:3px 6px; margin-left:8px; background:#f1f1f1; border:1px solid #d8d8d8; border-radius:4px; vertical-align:middle;">
    			   {{ code.code|raw }}
    		   </span>
    	   </label>
    		{{ form_row(form.cCode, {'attr': {'aria-describedby': 'cCodeHint'}}) }}
    	</div>
    	<div id="cCodeStatus" class="col-sm-12 col-md-6">
    	   
    	</div>
   </div>
   {{ form_row(form.key) }}
   <div class="row" style="margin-bottom: 20px">
        <div class="col-1">
               {{ form_row(form.datenschutz) }}
        </div>
        <div class="col-11" style="padding-top: 10px">
              {{ 'datenschutz_1'|trans }} ( <a class="dfx-nojson" href="{{ konf.datenschutzUrl }}" target="_blank">{{ 'datenschutz_linktext'|trans }}</a> ) {{ 'datenschutz_2'|trans }}
        </div>
    </div>
   <div class="row">
    	<div class="col-sm-12 col-md-6">
    		{{ form_row(form.submit) }}
    	</div>
    	<div class="col-sm-12 col-md-6">
    		{{ form_row(form.reset) }}
    	</div>
    </div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
<hr>
<div class="row">
    	<div class="col-12 col-sm-6">
    		<a href="{{ konf.frontendUrl }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur liste'|trans}}</a>
    	</div>
    	<div class="col-12 col-sm-6 text-right">
    		{{'pflichtfelder'|trans}}
    	</div>
</div>
{% set skins = {'#818181':'gra', '#FF9900':'org','#F05513':'hro','#c63d4e':'dro','#996600':'brn','#5e95cc':'hbl','#4182C2':'dbl', '#84b231':'hgr', '#839636':'olv'} %}
{% set radius = {'0':'k','1':'r' } %}
{% if konf.dfxFarbeEigen is not null or konf.dfxFarbeRasterEigen is not null or konf.dfxFontSize is not null or konf.dfxFontColor is not null or konf.dfxFontType is not null  %}
	{% set cssFile = 'own/' ~ konf.id ~'.css' %}
{% else %}
	{% set cssFile = 'datefix.' ~ skins[konf.dfxFarbe] ~ '-' ~ radius[konf.dfxRadius] ~ '.css' %}
{% endif %}
<div id="dfx_konf" data-cssfile="{{ cssFile }}" data-tpl="form" data-nav-pos="{{ konf.navPos }}" data-nav-width="{{ konf.navWidth }}"  data-nav-liste="{{ konf.navListe }}" data-nav-detail="0" style="display: none"></div>
