{% extends 'Kalender/base_gast_termin.html.twig' %}
{% form_theme form '@Tinymce/form/tinymce_type.html.twig' %}
{% block dfx_termin_detail %}
	{% set skins = {'#818181':'gra', '#FF9900':'org','#F05513':'hro','#c63d4e':'dro','#996600':'brn','#5e95cc':'hbl','#4182C2':'dbl', '#84b231':'hgr', '#839636':'olv'} %}
	{% set radius = {'0':'k','1':'r' } %}
	{% if konf.dfxFarbeEigen is not null or konf.dfxFarbeRasterEigen is not null or konf.dfxFontSize is not null or konf.dfxFontColor is not null or konf.dfxFontType is not null  %}
		{% set cssFile = 'own/' ~ konf.id ~'.css' %}
	{% else %}
		{% set cssFile = 'datefix.' ~ skins[konf.dfxFarbe] ~ '-' ~ radius[konf.dfxRadius] ~ '.css' %}
	{% endif %}
<div class="back-to-list"><a href="{{ konf.frontendUrl }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur liste'|trans}}</a></div>
<div id="dfx" data-kid="{{ konf.id }}" data-dfx-url="{{ datefix_url }}" style="display:none"></div>
{% if error is defined %}
 <p class="bg-danger">{{ error }}</p>
{% endif %}
	{{ form_start(form) }}
<fieldset class="step-1">
	<legend>Daten des Eingebers</legend>
    <div class="row">
    	<div class="col-sm-6 col-md-6">
    		{{ form_row(form.gastVorname) }}
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-6 col-md-6">
    	 {{ form_row(form.gastNachname) }}
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-6 col-md-6">
    		{{ form_row(form.gastEmail) }}
    	</div>
    	
   </div>
</fieldset>
<fieldset class="step-1">
  <!-- Nav tabs -->
  {% if serie != 1 %}
  <div id="formpills">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="einzeltermin-tab" data-bs-toggle="tab" data-bs-target="#einzeltermin" type="button" role="tab" aria-controls="einzeltermin" aria-selected="true">Einzeltermin</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="serientermin-tab" data-bs-toggle="tab" data-bs-target="#serientermin" type="button" role="tab" aria-controls="serientermin" aria-selected="false">Serientermin</a>
      </li>
    </ul>
  </div>
 <hr>
 {% endif %}
  <!-- Tab panes -->
   {% if serie == 1 %}
   <div class="row">
    	<div class="col-sm-12 col-md-8">
	    	{{ 'Hinweis Serie Datumseingabe'|trans }}<br><br>
	    </div>
   </div>
   {% else %}
  <div class="tab-content" style="display: block">
    <div class="tab-pane fade show active" id="einzeltermin" role="tabpanel" aria-labelledby="einzeltermin-tab">
        <div class="row">
	   
	    	<div class="col-sm-6 col-md-6">
	    		{{ form_row(form.datum_von) }}
	    	</div>
	    	<div class="col-sm-6 col-md-6">
	    	    {{ form_row(form.datum) }}
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-12">
	    	   <h4>Eingabe Einzeltermine</h4><p>Einzeltermine sind Veranstaltungen, die einmalig an einem Tag stattfinden oder sich über mehrere Tage erstrecken, aber als eine Veranstaltung zu betrachten sind - wie zum Beispiel ein Seminar oder eine mehrtägige Reise. <strong>Mehrtägige Einzeltermine erscheinen nur mit dem Anfangsdatum im Kalender</strong></p>.
	    	</div>
	    </div>
    </div>
    <div class="tab-pane fade" id="serientermin" role="tabpanel" aria-labelledby="serientermin-tab">
    	<div class="row">
	    	<div class="col-sm-6 col-md-3">
	    		{{ form_row(form.datum_s_von) }}
	    	</div>
	    	<div class="col-sm-6 col-md-3">
	    	    {{ form_row(form.datum_s_bis) }}
	    	</div>
	    	<div class="col-md-6">
				{% for checkbox in form.tage.children  %}
					<div class="form-check form-check-inline">
						{{ form_label(checkbox) }}
						{{ form_widget(checkbox) }}
						{{ form_errors(checkbox) }}
					</div>
				{% endfor %}
	   		</div>
	   		</div>
	    	<div class="row" id="datum-liste" style="display: none">
		   		<div class="col-12" >
		    		{{ form_row(form.datum_s_liste) }}
		    	</div>
		   </div>
			   <div class="row">
			   		<div class="col-12">
			    		{{ form_row(form.datumSerie, {'attr': {'placeholder': '📅 Datum unregelmäßiger Termin auswählen', 'autocomplete': 'off'}}) }}
			    	</div>
			   		
			   </div>
		   <div class="row">
		      	
		    	<div class="col-12">
		    		<h3>Eingabe Serientermine</h3><p>Serientermine sind Einzeltermine, die in einem bestimmten Zeitraum regelmäßig stattfinden oder sich in unregelmäßigen Abständen wiederholen. Das können Ausstellungen sein oder ein Weihnachtsmarkt, der über einen bestimmten Zeitraum täglich stattfindet. Serientermine erscheinen an allen Tagem im Kalender und können nach der Eingabe einzeln oder gebündelt bearbeitet werden.
		    		<h4>Regelmäßiger Termin</h4><p>Geben Sie ein Start- und Enddatum an und markieren dann die Tage, an denen der Termin stattfindet. Die ermittelten Tage werden automatisch in das in der nächsten Zeile erscheinende Listenfeld für die regelmäßigen Serientermine eingetragen und können ggf. von Hand nachbearbeitet werden.</p>
		    		<h4>Unregelmäßiger Termin</h4><p>Unregelmäßig stattfindende Termine können über den mit dem Listenfeld verknüpften Kalender erfasst werden. Klicken Sie auf die Tage, an denen der Termin erscheinen soll. Sie können die Eingabe auch über Monatsgrenzen hinweg fortsetzen, indem Sie mit den << >> Tasten die Moante wechseln.</p> 
		    	</div>
		    </div>
     </div>
  </div>
{%  endif %}
    <div class="row">
		<div class="col-sm-6 col-md-3">
			{{ form_row(form.zeit) }}
		</div>
		<div class="col-sm-6 col-md-3">
			{{ form_row(form.zeitBis) }}
		</div>

   </div>
</fieldset>
<fieldset class="step-2">
    <legend>Was & wo</legend>
   <div class="row">
    	<div class="col-sm-12 col-md-9">
    		 {{ form_row(form.titel) }}
    	</div>
    </div>
    {%  if konf.feldSubtitel == 1 %}
    <div class="row">
    	<div class="col-sm-12 col-md-9">
    		{{ form_row(form.subtitel) }}
    	</div>
    </div>
    {% endif %}
	{%  if konf.feldOnlinetermin == 1 %}
		<div class="row">
			<div class="col-sm-12 col-md-4">
				{{ form_row(form.online) }}
			</div>
		</div>
		<div class="row showOnline">
			<div class="col-sm-12 col-md-6">
				{{ form_row(form.konferenzlink) }}
			</div>
			<div class="col-sm-12 col-md-6">
				{{ form_row(form.konferenzlinktext) }}
			</div>
		</div>
	{% endif %}
    {%  if konf.feldLocation == 1 %} 
    <div class="row hideOnline">
    	<div class="col-sm-6 col-md-4">
    		{{ form_row(form.idLocation) }}
    	</div>
    	<div class="col-sm-6 col-md-5">
    		{{ form_row(form.lokal) }}
    	</div>
    </div>
    <div class="row hideOnline">
      	<div class="col-sm-9 col-md-9">
    		 {{ form_row(form.lokalStrasse) }}
    	</div>
    </div>
    {% endif %}
	{%  if konf.feldOrt == 1 %}
		<div class="row hideOnline">
			{%  if konf.feldOrtdb == 1 %}
				{%  if konf.feldNat == 1 %}
					<div class="col-sm-2 col-md-1">
						{{ form_row(form.nat) }}
					</div>
				{% endif %}
				{%  if konf.feldRegion == 1 %}
					<div class="col-sm-5 col-md-3">
						{{ form_row(form.region) }}
					</div>
				{% endif %}
				<div class="col-sm-5 col-md-3">
					{{ form_row(form.idOrt) }}
				</div>
				{%  if konf.feldPlz == 1 %}
					<div class="col-sm-4 col-md-2">
						{{ form_row(form.plz) }}
					</div>
				{% endif %}
				<div class="col-sm-8 col-md-3">
					{{ form_row(form.ort, {'attr' : {'readonly' : true }} ) }}
				</div>
			{% else %}
				{%  if konf.feldNat == 1 %}
					<div class="col-sm-4 col-md-1">
						{{ form_row(form.nat) }}
					</div>
				{% endif %}
				{%  if konf.feldPlz == 1 %}
					<div class="col-sm-2 col-md-2">
						{{ form_row(form.plz) }}
					</div>
				{% endif %}
				{%  if konf.feldRegion == 1 %}
					<div class="col-sm-5 col-md-3">
						{{ form_row(form.region) }}
					</div>
				{% endif %}
				<div class="col-sm-12 col-md-6">
					{{ form_row(form.ort) }}
				</div>
			{% endif %}
		</div>


	    {% if konf.useMap == 1 %}
	    <div class="row hideOnline">
	       	<div class="col-sm-4 col-md-2">
	    		{{ form_row(form.bg) }}
	    	  
	    	</div>
	    	<div class="col-sm-4 col-md-2">
	    	 {{ form_row(form.lg) }}
	    	   	</div>
	    	<div class="col-sm-12 col-md-5">
	    	 <a id="getgeodata" data-formname="termine" data-feldstrasse="lokalStrasse" href="#">Hole Geodaten aus Adressdaten</a> | <a id="setgeodata" data-formname="termine" data-feldstrasse="lokalStrasse" href="#">Hole Geodaten aus Karte</a>
	    	</div>
	    	
	    </div>
	    <div class="dfx-map-window" id="dfxMap" data-mapkey="{{ mapkey }}" data-tileserver="{{ tileserver }}" data-mapset="{{ mapset }}" data-copyright="{{ copyright }}" data-initbg="{{ initbg }}" data-initlg="{{ initlg }}" data-initzoom="{{ initzoom }}">&nbsp;</div>
	    {% endif %}
    {% endif %}
</fieldset>
{%  if konf.rubriken|length > 0 %}
 <fieldset class="step-3">
    <legend>Rubriken</legend>
     <div class="row">
    	<div class="col-12">
			{% for checkbox in form.rubrik.children  %}
				<div class="form-check form-check-inline">
					{{ form_label(checkbox) }}
					{{ form_widget(checkbox) }}
					{{ form_errors(checkbox) }}
				</div>
			{% endfor %}
    	</div>
    </div>
</fieldset>
{%  endif %}
{%  if konf.zielgruppen|length > 0 %}
 <fieldset class="step-3">
    <legend>Zielgruppen</legend>
     <div class="row">
    	<div class="col-sm-12">
			{% for checkbox2 in form.zielgruppe.children  %}
				<div class="form-check form-check-inline">
					{{ form_label(checkbox2) }}
					{{ form_widget(checkbox2) }}
					{{ form_errors(checkbox2) }}
				</div>
			{% endfor %}
    	</div>
    </div>
</fieldset>
{%  endif %}

<fieldset class="step-4">
    <legend>Texte & Medien</legend>
    {%  if konf.feldLead == 1 %}
    <div class="row">
    	<div class="col-12">
    		{{ form_row(form.lead) }}
    	</div>
    </div>
    {% endif %}
    {%  if konf.feldBeschreibung == 1 %}
    <div class="row">
    	<div class="col-12">
    		{{ form_row(form.beschreibung) }}
    	</div>
    </div>
    {% endif %}
     {%  if konf.feldEintritt == 1 %}
    <div class="row">
    	<div class="col-12">
    		{{ form_row(form.eintritt) }}
    	</div>
    </div>
    {%  endif %}
	<legend>Dateien hochladen</legend>
    {%  if konf.feldImg == 1 %}
    <div class="row">
    	<div class="col-sm-6">
    		{{ form_row(form.imageFile) }}
    	</div>

    	<div class="col-sm-6">
    		<br>{{ form_row(form.imgtext) }}
    	</div>
    	
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.imgcopycheck) }}
    	</div>
    	<div class="col-sm-12 col-md-6">
            <br>{{ form_row(form.imgcopyright) }}
    	</div>
    </div>
    {% endif %}
    {%  if konf.feldPdf == 1 %}
     <div class="row">
    	<div class="col-sm-4">
    		{{ form_row(form.pdfFile) }}
    	</div>
    	<div class="col-sm-2">
    		
    	</div>
    	<div class="col-sm-6">
    		<br>{{ form_row(form.pdflinktext) }}
    	</div>
    	
    </div>
    {% endif %}
    {%  if konf.feldVideo == 1 %}
    <div class="row">
    	<div class="col-sm-7">
    		{{ form_row(form.video) }}
    	</div>
    	<div class="col-sm-5">
    		<br>Geben Sie hier den vollständigen HTML-Einbettungscode ein, den die Videoprtale zur Verfügung stelllen. 
    	</div>
    </div>
    {% endif %}
     
</fieldset>
<fieldset class="step-5">
    <legend>Veranstalter, Kontakt, Karten, Anmeldungen</legend>
    {%  if konf.feldVeranstalter == 1 %}
    <div class="row">
    	<div class="col-sm-6">
    		{{ form_row(form.idVeranstalter) }}
    	</div>
    	<div class="col-sm-6">
    		{{ form_row(form.veranstalter) }}
    	</div>
    </div>
    {%  endif %}
    <div class="row">
    	<div class="col-sm-12">
    		{{ form_row(form.mail) }}
    	</div>
     </div>
     <div class="row">
    	<div class="col-12">
    		{{ form_row(form.mailTyp) }}
    	</div>
    </div>
    <!-- 
    {%  if konf.feldPlatzlimit == 1 %}
    <div class="row">
    	<div class="col-sm-3 col-md-2">
    		{{ form_row(form.plaetzeGesamt) }}
    	</div>
    	<div class="col-sm-3 col-md-2">
    		{{ form_row(form.plaetzeAktuell) }}
    	</div>
    </div>
    {% endif %}
    // -->
    {%  if konf.feldLink == 1 %}
    <div class="row">
    	<div class="col-sm-6 ">
    		{{ form_row(form.link) }}
    	</div>
    	<div class="col-sm-6">
    		{{ form_row(form.linktext) }}
    	</div>
    </div>
    {% endif %}
    {%  if konf.feldTicketlink == 1 %}
    <div class="row">
    	<div class="col-sm-6">
    		{{ form_row(form.ticketlink) }}
    	</div>
    	<div class="col-sm-6 ">
    		{{ form_row(form.ticketlinktext) }}
    	</div>
    </div>
    {% endif %}
    </fieldset>
    <div id="cCode" class="row">
    	<div class="col-sm-4 col-md-4">
    	   <label class="required" for="form_code" style="display:inline-flex; align-items:center; margin-bottom:0.25rem;">
    		   {{ 'sicherheitscode'|trans }}
    		   <span id="cCodeHint" style="position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden;">Bitte die vier Ziffern aus den Bildern in das Feld eingeben.</span>
    		   <span class="input-group-addon" role="img" aria-label="Sicherheitscode" style="display:inline-flex; align-items:center; gap:4px; padding:3px 6px; margin-left:8px; background:#f1f1f1; border:1px solid #d8d8d8; border-radius:4px; vertical-align:middle;">
    			   {{ code.code|raw }}
    		   </span>
    	   </label>
    		{{ form_row(form.cCode, {'attr': {'aria-describedby': 'cCodeHint'}}) }}
    	</div>
    	<div id="cCodeStatus" class="col-sm-8 col-md-6">
    	   
    	</div>
   </div>
   {{ form_row(form.key) }}
   <div class="row" style="margin-bottom: 20px">
        <div class="col-1">
               {{ form_row(form.datenschutz) }}
        </div>
        <div class="col-11" style="padding-top: 10px">
	 		{{ 'datenschutz_1'|trans }} ( <a class="dfx-nojson" href="{{ konf.datenschutzUrl }}" target="_blank">{{ 'datenschutz_linktext'|trans }}</a> ) {{ 'datenschutz_2'|trans }}
        </div>
    </div>
    <div class="row">
		  <div class="col-6">
		  {{ form_row(form.submit) }}
		  </div>
		  <div class="col-6">
		  {{ form_row(form.reset) }}
		  </div>
	</div>
	{{ form_row(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}
	<hr>
    <div class="row">
    	<div class="col-12 col-sm-6">
    		<a href="{{ konf.frontendUrl }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur liste'|trans}}</a>
    	</div>
    	<div class="col-12 col-sm-6 text-right">
    		{{'pflichtfelder'|trans}}
    	</div>
    </div>
{% endblock dfx_termin_detail %}
{% block dfx_konf %}
	<div id="dfx_konf" data-cssfile="{{ cssFile }}" data-mapkey="{{ mapkey }}" data-tileserver="{{ tileserver }}" data-mapset="{{ mapset }}" data-copyright="{{ copyright }}" data-tpl="form" data-nav-pos="{{ konf.navPos }}" data-nav-width="{{ konf.navWidth }}"  data-nav-liste="{{ konf.navListe }}" data-nav-detail="0" style="display: none"></div>
{% endblock dfx_konf %}
	{% block javascript_onload %}
		(function() {
			var datefix = document.getElementById('datefix');
			var form = document.querySelector('form[name="termine"]');
			var beschreibung = document.getElementById('termine_beschreibung');
			var lead = document.getElementById('termine_lead');
			var online = document.getElementById('termine_online');
		var imageInfo = document.getElementById('imageInfoBlock');
		var imgCopyCheck = document.getElementById('termine_imgcopycheck');
		var imageFile = document.getElementById('termine_imageFile');

		{% if konf.maxLengthBeschreibung > 0 %}
		if (datefix) {
			datefix.addEventListener('focusout', function(e) {
				if (e.target && e.target.id === 'termine_beschreibung') {
					if (beschreibung && beschreibung.value.length > {{ konf.maxLengthBeschreibung }} ) {
						alert("Der Text für die Beschreibung ist mit " + beschreibung.value.length + " Zeichen länger als die erlaubten {{ konf.maxLengthBeschreibung }} Zeichen");
					}
				}
			});
			datefix.addEventListener('submit', function(e) {
				var f = e.target.closest('form[name="termine"]');
				if (!f) return;
				if (beschreibung && beschreibung.value.length > {{ konf.maxLengthBeschreibung }} + 10) {
					alert("Der Text für die Beschreibung ist mit " + beschreibung.value.length + " Zeichen länger als die erlaubten {{ konf.maxLengthBeschreibung }} Zeichen.\n\nVor dem erneuten Absenden ist ein Klick ein anderes Formularfeld nötig !.");
					if (typeof lengthChecked !== 'undefined') { lengthChecked = false; }
					e.preventDefault();
				}
			});
		}
		{% endif %}
		{% if konf.maxLengthLead > 0 %}
		if (datefix) {
			datefix.addEventListener('focusout', function(e) {
				if (e.target && e.target.id === 'termine_lead') {
					if (lead && lead.value.length > {{ konf.maxLengthLead }} ) {
						alert("Der Text für die Kurzfassung ist mit " + lead.value.length + " Zeichen länger als die erlaubten {{ konf.maxLengthLead }} Zeichen");
					}
				}
			});
			datefix.addEventListener('submit', function(e) {
				var f = e.target.closest('form[name="termine"]');
				if (!f) return;
				if (lead && lead.value.length > {{ konf.maxLengthLead }} ) {
					alert("Der Text für die Kurzfassung ist mit " + lead.value.length + " Zeichen länger als die erlaubten {{ konf.maxLengthLead }} Zeichen.\n\nVor dem erneuten Absenden ist ein Klick ein anderes Formularfeld nötig !.");
					if (typeof lengthChecked !== 'undefined') { lengthChecked = false; }
					e.preventDefault();
				}
			});
		}
		{% endif %}
		{%  if konf.feldRegion == 1 %}
		var region = document.getElementById('termine_region');
		if (region) {
			region.addEventListener('change', function(){
				var rid = region.value ? region.value : 0;
				fetch(url + "/js/kalender/json/region/" + rid)
					.then(function(res){ return res.json(); })
					.then(function (jdata) {
						var idOrt = document.getElementById('termine_idOrt');
						var ort = document.getElementById('termine_ort');
						if (!idOrt) return;
						idOrt.innerHTML = '';
						var arrlen = jdata.length;
						if (arrlen === 1) {
							var opt = document.createElement('option');
							opt.value = jdata[0].id;
							opt.textContent = jdata[0].ort;
							idOrt.appendChild(opt);
							if (ort) ort.value = jdata[0].ort;
						} else {
							var optEmpty = document.createElement('option');
							optEmpty.value = '';
							optEmpty.textContent = 'Ort wählen';
							idOrt.appendChild(optEmpty);
							for (var i = 0; i < arrlen; i++) {
								var opt2 = document.createElement('option');
								opt2.value = jdata[i].id;
								opt2.textContent = jdata[i].ort;
								idOrt.appendChild(opt2);
							}
						}
					});
			});
		}
		{% endif %}
		{%  if konf.feldOrtdb == 1 %}
		var idOrtSel = document.getElementById('termine_idOrt');
		if (idOrtSel) {
			idOrtSel.addEventListener('change', function(){
				var regionVal = document.getElementById('termine_region');
				if (parseInt(idOrtSel.value || '0', 10) > 0 && regionVal && regionVal.value !== null) {
					fetch(url + "/js/kalender/json/ort/" + idOrtSel.value)
						.then(function(res){ return res.json(); })
						.then(function (jdata) {
							var regionEl = document.getElementById('termine_region');
							var plzEl = document.getElementById('termine_plz');
							var ortEl = document.getElementById('termine_ort');
							if (regionEl) regionEl.value = jdata.rid;
							if (plzEl) plzEl.value = jdata.plz;
							if (ortEl) ortEl.value = jdata.ort;
						});
				}
			});
		}
		{% endif %}

		if (datefix) {
			datefix.addEventListener('click', function(e){
				var btn = e.target.closest('#termincheck');
				if (!btn) return;
				var datumVon = document.getElementById('termine_datum_von');
				if (datumVon && datumVon.value.length > 0) {
					fetch(url + "/admin/termine/json/check/" + datumVon.value)
						.then(function(res){ return res.text(); })
						.then(function(html){
							var liste = document.getElementById('terminliste');
							if (liste) liste.innerHTML = html;
						});
				}
			});
		}

		function toggleOnline() {
			var hideEls = document.querySelectorAll('.hideOnline');
			var showEls = document.querySelectorAll('.showOnline');
			if (online && online.checked) {
				hideEls.forEach(function(el){ el.style.display = 'none'; });
				showEls.forEach(function(el){ el.style.display = ''; });
			} else {
				hideEls.forEach(function(el){ el.style.display = ''; });
				showEls.forEach(function(el){ el.style.display = 'none'; });
			}
		}
		if (online) {
			toggleOnline();
			online.addEventListener('click', toggleOnline);
		}
		if (imageInfo) imageInfo.style.display = 'none';
		if (imageFile) {
			imageFile.addEventListener('change', function(){
				if (imageFile.value !== null) {
					if (imageInfo) imageInfo.style.display = '';
					if (imgCopyCheck) imgCopyCheck.required = true;
				} else {
					if (imageInfo) imageInfo.style.display = 'none';
					if (imgCopyCheck) imgCopyCheck.required = false;
				}
			});
		}
			if (form) {
				form.addEventListener('reset', function(){
					if (imageInfo) imageInfo.style.display = 'none';
					if (imgCopyCheck) imgCopyCheck.required = false;
				});
			}

			(function patchDatumSeriePicker() {
				if (window.__dfxDatumSeriePatchApplied) return;
				window.__dfxDatumSeriePatchApplied = true;

				var stopLegacyChangeReinit = function(e) {
					if (e.target && e.target.matches && e.target.matches('#termine_datumSerie')) {
						e.stopImmediatePropagation();
					}
				};
				document.addEventListener('change', stopLegacyChangeReinit, true);

				var initPatchedPicker = function() {
					var input = document.getElementById('termine_datumSerie');
					if (!input || !window.flatpickr) return;

					document.querySelectorAll('.dfx-serie-picker-btn').forEach(function(btn) {
						btn.remove();
					});

					if (input._flatpickr) {
						try { input._flatpickr.destroy(); } catch (e) {}
					}

					var selected = (input.value || '')
						.split(',')
						.map(function(v) { return v.trim(); })
						.filter(function(v) { return v.length > 0; });

					var locale = (window.flatpickr.l10ns && window.flatpickr.l10ns.de) ? window.flatpickr.l10ns.de : undefined;
					window.flatpickr(input, {
						mode: 'multiple',
						dateFormat: 'Y-m-d',
						conjunction: ', ',
						locale: locale,
						allowInput: false,
						clickOpens: true,
						closeOnSelect: false,
						defaultDate: selected,
						onChange: function() {
							var datumVon = document.getElementById('termine_datum_von');
							if (datumVon) datumVon.required = false;
						}
					});
				};

				window.dfxInitDatumSeriePicker = function() {
					if (typeof window.dfxLoadFlatpickr === 'function') {
						window.dfxLoadFlatpickr().then(function(fp) {
							if (fp) initPatchedPicker();
						});
						return;
					}
					if (window.flatpickr) initPatchedPicker();
				};

				window.dfxInitDatumSeriePicker();
			})();
		})();
	{% endblock %}
{% block javascript_functions %}{% endblock %}








