{% set skins = {'#818181':'gra', '#FF9900':'org','#F05513':'hro','#c63d4e':'dro','#996600':'brn','#5e95cc':'hbl','#4182C2':'dbl', '#84b231':'hgr', '#839636':'olv'} %}
{% set radius = {'0':'k','1':'r' } %}
{% set frontendUrlQ = '?' in konf.frontendUrl ? konf.frontendUrl ~ '&' : konf.frontendUrl ~ '?' %}
{% set navPos = konf.navPos %}
{% set navWidth = konf.navWidth == 3 ? 'col-md-push-3' : null %}
{% set contentWidth = konf.navWidth == 3 ? 'col-md-pull-9' : null %}
{% set LatLong = latlong is defined ? latlong : null %}
{% set navParam = app.request.query.get('nav') %}
{% if navParam is not null %}
    {% set nav = navParam in ['1','true','yes'] ? 1 : 0 %}
{% endif %}

{% set navside = block('nav_side') %}
{% set navtop = block('nav_full') %}

{% if navside is empty %}
    {% set contentClass = 'col-12' %}
    {% set navClass = null %}
{% else %}
    {% set contentClassRight = konf.navWidth == 3 ? 'col-md-9 col-sm-8 order-2 order-md-1' : 'col-sm-8 order-2 order-md-1' %}
    {% set navClassRight = konf.navWidth == 3 ? 'col-md-3 col-sm-4 order-1 order-md-2' : 'col-sm-4 order-1 order-md-2' %}
    {% set contentClass = konf.navWidth == 3 ? 'col-md-9' : 'col-md-8' %}
    {% set navClass = konf.navWidth == 3 ? 'col-md-3' : 'col-md-4' %}

{% endif %}

{% set style ='' %}
{% set style = konf.dfxWidth is not null ? 'max-width:' ~ konf.dfxWidth ~';' : '' %}
{% set style = konf.bgDatefix is not null ? style ~ 'background-color:' ~ konf.bgDatefix : '' %}
{% set bgNav = konf.bgNav is not null ? 'style=background-color:' ~ konf.bgNav : null %}

{% if konf.dfxFarbeEigen is not null or konf.dfxFarbeRasterEigen is not null or konf.dfxFontSize is not null or konf.dfxFontColor is not null or konf.dfxFontType is not null  %}
    {% set cssFile = 'own/' ~ konf.id ~'.css' %}
{% else %}
    {% set cssFile = 'datefix.' ~ skins[konf.dfxFarbe] ~ '-' ~ radius[konf.dfxRadius] ~ '.css' %}
{% endif %}
<div id="dfx_wrapper" style="{{ style }}" class="container-fluid"  data-cssfile="{{ cssFile }}" >
    {% if navPos =='top' and nav == 1 %}
        <div id="nfx-filter" class="row dfx-nav" {{ bgNav }}>
            {{ navtop|raw }}
        </div>
        <div class="row">
            <div id="dfx-termine" class="{{ contentClass }}">
                {{ block('dfx_news') }}
            </div>
        </div>
    {% elseif navPos =='right' and nav == 1 %}
        <div class="row">
            <div id="nfx-filter" class="{{ navClassRight }} dfx-nav nav-right spalte-rechts" {{ bgNav }}>
                {{ navside|raw }}
            </div>
            <div id="dfx-termine" class="{{ contentClassRight }}">
                {{ block('dfx_news') }}
            </div>
        </div>

    {% elseif navPos =='left' and nav == 1  %}
        <div class="row">
            <div id="nfx-filter" class="{{ navClass }} dfx-nav nav-left" {{ bgNav }}>
                {{ navside|raw }}
            </div>
            <div id="dfx-termine" class="{{ contentClass }}">
                {{ block('dfx_news') }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div id="dfx-termine" class="{{ contentClass }}">
                {{ block('dfx_news') }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            {% include 'Kalender/custom/footer.html.twig' ignore missing %}
        </div>
    </div>
</div>
