<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Der Veranstaltungskalender für Städte, Gemeinden, Theater, Kulturveranstalter, Vereine und Jedermann.">
    <meta name="author" content="Pool Online Internetservice">
    <meta name="copyright" content="Pool Online Internetservice, Nördlingen">
    <meta name="keywords" content="Veranstaltungskalender, Eventkalender">
    <meta NAME="robots" content="INDEX, FOLLOW">
    <title>Login</title>
    <link href="{{ asset('css/bootstrap.olv-k.css') }}" rel="stylesheet">
    <link href="{{ asset('css/datefix_fe.css') }}" rel="stylesheet">
    <link href="{{ asset('fontawesome/css/all.min.css') }}" rel="stylesheet" >
    <link href="{{ asset('fontawesome/css/v4-shims.min.css') }}" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/suneditor@2.47.8/dist/css/suneditor.min.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}"><img src={{ asset('images/logo_400.png') }} width="300" height="" class="d-inline-block align-text-top" alt="Datefix Startseite"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dfx-navbar-collapse-1" aria-controls="dfx-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="dfx-navbar-collapse-1">
                {% if is_granted('ROLE_USER')  %}
                    <ul class="navbar-nav ms-auto align-items-lg-center">
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <li class="nav-item">
                                <span class="navbar-text">Sie sind eingelogt als User {{ app.user.username }} !!!</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ impersonation_exit_path(path('admin') ) }}">Exit User {{ app.user.username }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" role="navigation" href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-3 pb-2 border-bottom">{% block pageheader %}{% endblock %}
                    <small>{% block subheader %}{% endblock %}</small>
                </h1>

            </div>
        </div>
        <!-- /.row -->
        <div id="dfx_be" data-dfx-url="{{ datefix_url }}"></div>
        <h2>{% block title %}{% endblock %}</h2>
        {% block body %}{% endblock %}


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; POOL ONLINE INTERNETSERVICE 1999 - {{  'now'|date('Y') }}</p>
                </div>
            </div>
        </footer>
    </div>
    {% block javascripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/suneditor@2.47.8/dist/suneditor.min.js"></script>
    <script src="{{ asset('js/suneditor-init.js') }}" type="text/javascript"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    </body>
</html>

