<h2>{{ 'anmeldung'|trans }}</h2>
<h3>{{ 'fuer'|trans }}: {{ termin.titel }}, {{ termin.datumVon|date('d.m.Y') }} {{ termin.zeit|date('H:i')  }}</h3>
<p>{{ 'ak-text7'|trans }}</p>
<p>{{ 'ak-text8'|trans }} {{ termin.plaetzeAktuell }} {{ 'plaetze verfuegbar'|trans }}</p>
{% if  termin.plaetzeAktuell > 0 %}
	<a href="{{ path('anmeldungen_new', { 'id': termin.id } )}}">{{ 'anmelden'|trans }}</a>
{% endif %}
<hr>
<div class="back-to-list"><a href="{{ konf.frontendUrl }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur liste'|trans}}</a></div>