{% extends 'Admin/' ~ backend ~ 'base_admin.html.twig' %}
{% if termin.datum == termin.datumVon %}
	{% set strDate =  termin.datumVon|date('d.m.Y') %}
{% else %}	
	{% set strDate = termin.datumVon|date('m.d.Y') ~ ' bis '|trans ~ termin.datum|date('m.d.Y') %}
{% endif %}	
{% set strTime = termin.zeit != NULL ? "#{ termin.zeit|date('H:i') } Uhr" : "" %}

{% block title 'Anmeldungen' %}
{% block pageheader 'Anmeldungen' %}
{% block subheader "#{ termin.titel|raw ~', ' ~  strDate ~ ' ' ~ strTime }" %}

{% block footer %}

{% endblock footer %}

{% block body -%}

     <table class="table table-striped">
        <thead>
            <tr>
            	<th>Name, Firma/Organisation</th>
            	<th>Straße</th>
                <th>Plz</th>
                <th>Ort</th>
                <th>Telefon</th>
                <th>Mobil</th>
                <th>E-Mail</th>
                <th style="text-align:right">Plätze</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for anmeldung in anmeldungen %}
			 <tr>
                <td>{{ anmeldung.nachname }}, {{ anmeldung.vorname }}{{ anmeldung.org is not null ? ', ' ~ anmeldung.org : '' }}</td>
                <td>{{ anmeldung.strasse  }}</td>
                <td>{{ anmeldung.plz  }}</td>
                <td>{{ anmeldung.ort  }}</td>
                <td>{{ anmeldung.tel  }}</td>
                <td>{{ anmeldung.mobil  }}</td>
                <td>{{ anmeldung.email  }}</td>
                <td style="text-align:right">{{ anmeldung.anzahl  }}</td>
                <td><a href="{{ path('anmeldungen_edit', { 'id': anmeldung.id }) }}"><i class="fa-solid fa-pen-to-square"> </i></a></td>
                <td><a class="delete" title="Datensatz {{ anmeldung.nachname }} löschen" href="{{ path('anmeldungen_delete', { 'id': anmeldung.id }) }}"><i class="fa-solid fa-trash-can"> </i></a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {{ knp_pagination_render(anmeldungen) }}
</div>
<div><a href="{{ path('pdf_anmeldungen_liste', { 'tid': termin.id }) }}"><i class="fa-solid fa-file-pdf"> </i> Download Komplettdaten als PDF</a> | <a href="{{ path('pdf_anmeldungen_liste_einzeilig', { 'tid': termin.id, 'kid': termin.datefix.id, }) }}"><i class="fa-solid fa-file-pdf"> </i> Download Liste Kompaktdaten als PDF</a><br><br></div>
<div><a href="{{ path('admin_anmeldungen')  }}"><i class="fa-solid fa-chevron-left"></i> {{'zurueck zur terminuebersucht'|trans}}</a></div>
{% endblock %}  

